#backButtonIs {
	border-radius: 4px;
	padding: 8px;
	border: none;
	font-size: 16px;
	background-color: #FFBB66;/*here*/
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
  }
  #backButtonsICH {
	border-radius: 4px;
	padding: 8px;
	border: none;
	font-size: 16px;
	background-color: #FFBB66;
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
  }
  #backButtonSAH {
	border-radius: 4px;
	padding: 8px;
	border: none;
	font-size: 16px;
	background-color: #FFBB66;
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
  }
  .invisible {
    display: none;
  }


  .container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    min-height: 40vh;
  }
  .btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
   }
   .btn:hover {
    background-image: linear-gradient(to right, #FFB7DD 0%, #CCBBFF 51%, #CCEEFF 100%);/*here*/
  }
  
  .btn-1 {
    background-image: linear-gradient(to right, #667eea 0%, #764ba2 100%);
  }